PORT=5000

# Base de datos MySQL (TiDB Cloud)
DB_HOST=gateway01.us-west-2.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=root
DB_PASS=tu_contraseña_db
DB_NAME=test
DB_SSL=true

# Seguridad
JWT_SECRET=tu_secreto_jwt_aqui

# Configuración de Correo SMTP (Gmail SSL 465)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_contraseña_de_aplicacion_google
SMTP_FROM=tu_correo@gmail.com
# EMAIL_PROXY_URL=https://tu-proxy-si-aplica.com/api/send-email

# Integración Google Sheets
GOOGLE_SHEETS_URL=https://script.google.com/macros/s/tu_script_id/exec

# Google OAuth
GOOGLE_CLIENT_ID=tu_google_client_id.apps.googleusercontent.com
